.THIS .scoreFont{
    font-family: 'digitalClockFont';
    font-size:22px;
    color: #143058;
}

@font-face{
    font-family: 'digitalClockFont';
    src: url(/resource/digitalClockFont/digital-7.ttf);
}

.THIS .playerAvatar{
     width: 65px;
     height: 65px;
     border-radius: 50%;
     border: 3px solid white;
}