.THIS .height-auto {
    height: auto;
}

.THIS .margin-auto {
    margin: auto;
}

.THIS .text-x-small {
    font-size: .6rem;
}

.THIS .no-padding {
    padding: 0;
}

.THIS .text-bold {
    font-weight: bold;
}