.THIS .score {
    font-family: 'digitalClockFont';
    font-size: 20px;
    color: #143058;
    cursor: pointer;
}

@font-face {
    font-family: 'digitalClockFont';
    src: url(/resource/digitalClockFont/digital-7.ttf);
}

.THIS.slds-backdrop {
    margin-top: -16px;
}

.THIS .spinner-text {
    position: absolute;
    margin-top: 50px;
    z-index: 10000;
}