.THIS .myTable .slds-th__action .slds-th__action-button {
    display: none;
}

.THIS .slds-button_icon-bare {
    display: none;
}

.THIS table tbody tr th:first-child * {
    font-weight: bold;
    color: #0099de;
}

.THIS table tbody tr th:first-child:hover * {
    font-weight: bold;
    color: #135f90;
}

.THIS table tbody tr td:last-child * {
    font-weight: bold;
}

.THIS table tbody tr th:first-child lightning-primitive-icon svg {
    height: 2rem;
    width: 2rem;
}

.THIS table tbody tr th:first-child lightning-icon {
    background-color: #0eb58a;
}

.THIS .text-bold {
    font-weight: bold;
}

.THIS .button-icon-size-small button {
    width: 1rem;
    height: 1rem;
}

.THIS .button-icon-size-small svg {
    width: 0.5rem;
    height: 0.5rem;
}